<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body>
    <!-- Encabezado -->
    <%- include('partials/header') %>
	<!-- Contenedor principal -->
    <!-- parte de los preductos -->
    <main>
        <div class="contenedor-main">
            <!--TODOS LOS PRODUCTOS-->
            <div class="contenedor-productos">
            <% for (let i=0; i<productos.length; i++){ %>
                <div class="producto">
                    <a href="/products/adm/<%= productos[i].product_id%>">
                        <img class="producto-imagen" src="../img/zapatillas_img/<%= productos[i].product_img %>.jpg" alt="">
                    </a>
                    <div class="producto-descripcion">                        
                        <p class="titulo"><%= productos[i].product_name %></p>
                        <p class="titulo"><%= productos[i].product_brand %></p>                        
                        <p class="precios"><%= productos[i].product_price %></p>
                        <%if (productos[i].product_discount !== null ) { %>
                            <p class="descuento">OFERTA <%= productos[i].product_discount %> %</p>  
                        <% } %>               
                    </div>
                </div>
            <% } %>
            </div>
            <!--FIN TODOS LOS PRODUCTOS-->


    <!--Pie de pagina-->
    <%- include('partials/footer') %>
</body>
</html>