<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body>
    <!-- encabezado -->
    <%- include('partials/header') %>
    <!-- parte de los preductos -->
    <main>
        <div class="contenedor-main">
            <!--TODOS LOS PRODUCTOS-->
            <div class="contenedor-productos">
            <% for (let i=0; i<productos.length; i++){ %>
                <div class="producto">
                    <a href="/products/<%= productos[i].id %>">
                        <img class="producto-imagen" src="../img/imgProductDetail/<%= productos[i].img %>.png" alt="">
                    </a>
                    <div class="producto-descripcion">                        
                        <p class="titulo"><%= productos[i].name %></p>
                        <p class="precios"><%= productos[i].price %><i class="fa-solid fa-cart-plus"></i></p>                       
                    </div>
                </div>
            <% } %>
            </div>
            <!--FIN TODOS LOS PRODUCTOS-->
            <div class="hombres-mujeres">
                <a href="">
                    <img src="/img/imgProductDetail/hombres1.jpg" alt="">    
                </a>
                <a href="">
                    <img src="/img/imgProductDetail/mujeres.jpg" alt="">
                </a>  
            </div>
            <div class="descuentos-promociones">
                
                <a href="">
                    <img src="/img/imgProductDetail/descuentos.jpg" alt="">
                   
                </a>

            </div>
        </div>
    </main>
    <!-- pie de pagina -->
    <%- include('partials/footer') %>
    
</body>
</html>