<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %>
<body>
    <!-- encabezado -->
    <%- include('partials/header') %>
    <main>
        <section id="cargar-producto">
            <h2>Carga y edicion de productos</h2>
            <!-- Formulario de registro -->
            <form method="POST" action="/products/<%= producto.id%>?_method=PUT">
                <!-- Campo: Nombre -->
                <label for="nombre">Nombre: </label>
                <input type="text" id="name" name="name" value="<%= producto.name %>" required>
               <!-- Campo: Img-->
               <figure class="product-box_image">
                    <img src="/img/imgProductDetail/<%=producto.img%>.png" alt="Modelo <%= producto.name%>">
                </figure>
               <label for="imagen">Imagen: </label>
               <input type="file" id="img" name="img" accept="image/imgProductDetail/<%= producto.img %>">
                <!-- Campo: Brand -->
                <label for="brand">Marca: </label>
                <input type="text" id="brand" name="brand" value="<%= producto.brand %>" required>
                <!-- Campo: category -->
                <label for="nombre">Categoría: </label>
                <input type="text" id="category" name="category" value="<%= producto.category%>" required>
                <!-- Campo: price-->
                <label for="nombre">Precio: </label>
                <input type="text" id="price" name="price" value="<%= producto.price %>" required>
            <!-- Agregar más opciones según las categorías disponibles -->
                <!-- Botón: modificar,eliminar -->
                <button type="submit">MODIFICAR</button>
                </button>
            </form>
            <form method="POST" action="/products/<%= producto.id %>?_method=DELETE" >
                <button type="submit" class="redirect">ELIMINAR</button>
            </form>
        </section>
    </main>








    <!-- pie de pagina -->
    <%- include('partials/footer') %>
</body>
</html>