<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body>
    <!-- Encabezado -->
    <%- include('partials/header') %>
	<!-- todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"><%= producto.product_name%> </h2>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<figure class="product-box_image">
						<img src="/img/zapatillas_img/<%=producto.product_img%>.jpg" alt="Modelo <%= producto.product_name%>">
					</figure>
					<span class="product-envio">
						ENVIO GRATIS
					</span>
					<article class="product-box_data">
						<p><h3 class="h2-informacion">PRECIO FINAL ARG$ <%= producto.product_price%> <h2></p>
						<p><h3 class="h2-informacion">Marca <%= producto.product_brand%></h4></p>
						<%if (producto.product_discount !== null) { %>
							<p><h3>Super Oferta <%= producto.product_discount%>%</h3></p>
						<% } %>
						<i class="fas fa-truck"></i>
					</article>
					<p>
						<a href="/shopCarts/addCarrito/">
                            <button class="add-to-cart-btn" type="button"> AGREGAR AL CARRITO</button>
                        </a>    
					</p>
					<p>
							<p> <a class="botonCrear" href="/products/create/">CREAR PRODUCTO</a></p>
							<p> <a class="botonEditar" href="/products/edit/<%= producto.product_id%>">EDITAR</a></p>					
							<a  class="botonVolver" href="/">ATRAS</a>
					</p>
				</section>
			</div>
		</div>
	</div>
	<!-- /todos los productos -->

    <!--Pie de pagina-->
    <%- include('partials/footer') %>
</body>
</html>