<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body>
    <!-- Encabezado -->
    <%- include('partials/header') %>
	<!-- Contenedor principal -->
	<div class="contenedor">
		<div class="column">
			<!-- todos los productos -->
			<div class="col-12">
				<h2 class="products-title"><%= producto.product_name%> </h2>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<figure class="product-box_image">
						<img src="/img/zapatillas_img/<%=producto.product_img%>.jpg" alt="Modelo <%= producto.product_name%>">
					</figure>
					<!-- <p>
							<p> <a class="botonCrear" href="/products/create/">CREAR PRODUCTO</a></p>
							<p> <a class="botonEditar" href="/products/edit/<%= producto.product_id%>">EDITAR</a></p>					
							<a  class="botonVolver" href="/">ATRAS</a>
					</p> -->
				</section>
			</div>
			<!-- /todos los productos -->
		</div>
		<div class="column">
			<article class="product-box_data"></article>					
				<span class="product-envio">
					ENVIO GRATIS
					<i class="fas fa-truck"></i>
				</span>
				<span>
					<p><h3 class="h4-informacion">PRECIO FINAL ARG $ <%= producto.product_price%><h3></p>
				</span>
				<p><h4 class="h4-informacion-mayuscula">MARCA <%= producto.product_brand%></h3></p>
				<%if (producto.product_discount !== null) { %>
					<p><h3 class="h4-oferta">Super Oferta <%= producto.product_discount%>%</h3></p>
				<% } %>
			</article>
		<!-- SELECCION TALLES -->
			<div class="col-12">
				<label class="size" for="size-1">
					SELECCIONAR TALLE
				</label>
				<ul class="select-size attribute-size" value="" id="size">
					<div class="variation-attribute-size-values" value="">
							<li class="variation-attribute-size wrapper" value="35" data-value="35">
								<span class="variationID">35</span>
								<input type="hidden" id="product_size" value="35">
							</li>
							<li class="variation-attribute-size wrapper" value="36" data-value="36">
								<span class="variationID">36</span>
								<input type="hidden" id="product_size" value="36">
							</li>												
							<li class="variation-attribute-size wrapper" value="37" data-value="37">
								<span class="variationID">37</span>
								<input type="hidden" id="product_size" value="37">
							</li>
							<li class="variation-attribute-size wrapper" value="38" data-value="38">
								<span class="variationID">38</span>
								<input type="hidden" id="product_size"value="38">
							</li>
							<li class="variation-attribute-size wrapper" value="39" data-value="39">
								<span class="variationID">39</span>
								<input type="hidden" id="product_size" value="39">
							</li>
							<li class="variation-attribute-size wrapper" value="40" data-value="40">
								<span class="variationID">40</span>
								<input type="hidden" id="product_size"" value="40">
							</li>
							<li class="variation-attribute-size wrapper" value="41" data-value="41">
								<span class="variationID">41</span>
								<input type="hidden" id="product_size" value="41">
							</li>
							<li class="variation-attribute-size wrapper" value="42" data-value="42">
								<span class="variationID">42</span>
								<input type="hidden" id="product_size" value="42">
							</li>
							<li class="variation-attribute-size wrapper" value="43" data-value="43">
								<span class="variationID">43</span>
								<input type="hidden" id="product_size" value="43">
							</li>
							<li class="variation-attribute-size wrapper" value="44" data-value="44">				
								<span class="variationID">44</span>
								<input type="hidden" id="product_size" value="44">
							</li>
							<li class="variation-attribute-size wrapper" value="45" data-value="45">
							<span class="variationID">45</span>
								<input type="hidden" id="product_size" value="45">
							</li>
					</div>
				</ul>
				<!-- SELECCION TALLES -->
				<p>
					<!-- <a href="/shopCarts/addCarrito/"> -->
					<button class="add-to-cart-btn" onclick="agregarProducto('product')" type="button"> AGREGAR AL CARRITO</button>
					<!-- </a>     -->
				</p>
				<!-- Contenedor de la ventana emergente -->
				<div id="ventanaEmergente" style="display: none;">
					<h2>Mi Carrito de compras</h2>
					<ul id="carrito"></ul>
					<a href="/shopCarts/addCarrito/"> 
						<button class="button-ventana-emergente" id="btn-opc-comprar">COMPRAR</button>
					</a> 
					<button class="button-ventana-emergente" id="btn-opc-cancelar">CANCELAR</button>
				</div>
			</div>
		</div>	
	</div>


    <!--Pie de pagina-->
    <%- include('partials/footer') %>
</body>
</html>