<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body>
    <!-- Encabezado -->
    <%- include('partials/header') %>
	<!-- todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"><%= producto.name%> </h2>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<figure class="product-box_image">
						<img src="/img/imgProductDetail/<%=producto.img%>.png" alt="Modelo <%= producto.name%>">
					</figure>
					<article class="product-box_data">
						<h2>PRECIO FINAL ARG$ <%= producto.price%> <h2>
						<span>Marca <%= producto.brand%></span>
						<span>Oferta 5% OFF</span>
						<i class="fas fa-truck"></i>
					</article>
					<p>
							<p> <button class="botonEditar" href="/products/edit/<%= producto.id%>">EDITAR</button>
							<p> <button class="botonBorrar" href="/<%= producto.id%>">BORRAR</button>							
							<a  class="botonVolver" href="/">ATRAS</a></p>
					</p>
				</section>
			</div>
		</div>
	</div>
	<!-- /todos los productos -->

    <!--Pie de pagina-->
    <%- include('partials/footer') %>
</body>
</html>