<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<body>
    <!-- encabezado -->
    <%- include('../partials/header') %>

    <main>
        <section id="login-usuario"> <!-- cargar-producto -->
            <h2>Ingresar</h2>
            
            <% if (locals.errors && locals.errors.email && locals.errors.email.msg === 'no') { %>
                <p style="color: red">CREDENCIALES INVALIDA</p>
            <% } %>
            <!-- Formulario de registro -->
            <form action="/users/login" method="POST">
               
                <!-- Campo: Correo -->
                <label for="correo">Correo:</label>
                <input type="text" id="email" name="email" placeholder="Ej: juanperez@gmail.com" 
                <% if (locals.errors && errors.email && locals.errors.email.msg !== 'no') { %> class="form-control is-invalid" <% } %>
                value="<%= locals.oldData ? oldData.email : null %>" 
                
                >
                <% if (locals.errors && errors.email && locals.errors.email.msg !== 'no') { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
                <!-- Campo: Contraseña -->
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" 
                
                <% if (locals.errors && errors.password) { %> class="form-control is-invalid" <% } %>
                >
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
                <!-- Checkbox: Aceptar términos y condiciones -->
                
                <!-- Botón: Registrarme -->
                <div id="botones">
                    <button class="button-registro" type="submit">Iniciar Sesión </button>
                   
                </div>
                <div class="recordar">
                <!-- <div class="checkbox-recordar">
                    <input type="checkbox" name="remember" id="acepto-terminos">
                    <label for="remember">Recordar</label>
                </div> -->
                <div class="checkbox-container">
                    <input type="checkbox" id="remember" name="remember" 
                    
                    >
                    <label for="remember">Recordar</label>
                </div>
                <div>
                <label for="modlgn_remember"><a href="#">¿Has olvidado la contraseña ? </a></label>
                </div>
                </div>
                <div id="botones2">
                    <!-- <button href="/user/register" class="button-crear-cuenta" >Crear Cuenta Nueva </button> -->
                    <a class="button-crear-cuenta" href="/users/register">  Crear Cuenta Nueva</a>
                </div>
                </div>
            </form>
        </section>
    </main>

<!-- pie de pagina -->
    <%- include('../partials/footer') %>
</body>
</html>