<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <body>
        <!-- encabezado -->
        <%- include('../partials/header') %>
            <main>
                <section id="registro-formulario">
                    <h2>Registro de Usuario</h2>
                    <!-- Formulario de registro -->
                    <form action="/users/register" method="post" enctype="multipart/form-data">
                        <!-- Campo: Nombre -->
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="name" name="name" placeholder="Ej: Juan Jose" 
                        <% if (locals.errors && errors.name ) { %> class="form-control is-invalid" <% } %>
                        value="<%= locals.oldData ? oldData.name : null %>">
                <% if (locals.errors && errors.name) { %>
                    <div class="text-danger">
                        <%= errors.name.msg %>
                    </div>
                <% } %>
                        
                        <!-- Campo: Apellido -->
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="lastname" name="lastname" placeholder="Ej: Perez" 
                        <% if (locals.errors && errors.lastname ) { %> class="form-control is-invalid" <% } %>
                        value="<%= locals.oldData ? oldData.lastname : '' %>">
                <% if (locals.errors && errors.lastname) { %>
                    <div class="text-danger">
                        <%= errors.lastname.msg %>
                    </div>
                <% } %>
                        
                        <!-- Campo: Usuario -->
                        <label for="usuario">Nombre de usuari@:</label>
                        <input type="text" id="user" name="user" placeholder="Nombre de usuario" 
                        <% if (locals.errors && errors.user ) { %> class="form-control is-invalid" <% } %>
                        value="<%= locals.oldData ? oldData.user : '' %>">
                <% if (locals.errors && errors.user) { %>
                    <div class="text-danger">
                        <%= errors.user.msg %>
                    </div>
                <% } %>
                        
                        <!-- Campo: Contraseña -->
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" 
                        <% if (locals.errors && errors.password ) { %> class="form-control is-invalid" <% } %>
                        value="<%= locals.oldData ? oldData.password : null %>"
                        >
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                        <!-- Campo: Confirmar Contraseña -->
                        <label for="confirmar-contrasena">Confirmar Contraseña:</label>
                        <input type="password" id="confirmPassword" name="confirmPassword"
                            placeholder="Confirme su contraseña" 
                            <% if (locals.errors && errors.confirmPassword ) { %> class="form-control is-invalid" <% } %>
                            value="<%= locals.oldData ? oldData.confirmPassword : null %>"
                            >
                             <% if (locals.errors && errors.confirmPassword) { %>
                                <div class="text-danger">
                                    <%= errors.confirmPassword.msg %>
                                </div>
                            <% } %> 
                        <!-- Campo: Correo -->
                        <label for="correo">Correo:</label>
                        <input type="text" id="email" name="email" placeholder="Ej: juanperez@gmail.com" 
                        <% if (locals.errors && errors.email ) { %> class="form-control is-invalid" <% } %>
                        value="<%= locals.oldData ? oldData.email : null %>">
							
								<% if (locals.errors && errors.email) { %>
									<div class="text-danger">
										<%= errors.email.msg %>
									</div>
								<% } %>
                        <!-- Campo: avatar -->
                        <div>
                            <label for="foto">Foto de usuario:</label>
                        </div>
                        <div>
                            <input type="file" id="image" name="image" accept="image/*">
                        </div>
                        <!-- Campo: pais de nacimiento -->
                        <label>País de nacimiento:</label>
								<select 
									name="country" 
									<% if (locals.errors && errors.country ) { %> class="form-control is-invalid" <% } %>
								>
									<option value="">Elegí un país</option>
									<%  
										let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela'];
									%>
									<% for (const oneCountry of countries) { %>
										<option 
											value="<%= oneCountry %>"
											<%= locals.oldData && (oneCountry === oldData.country) ? 'selected' : null %> 
										> <%= oneCountry %> </option>
									<% } %>
								</select>
                                <% if (locals.errors && errors.country) { %>
									<div class="text-danger">
										<%= errors.country.msg %>
									</div>
								<% } %>
                        <!-- Campo: Celular o Teléfono (opcional) -->
                        <label for="celular">Celular o Teléfono (opcional):</label>
                        <input type="tel" id="phone" name="phone" placeholder="Ej: 1545000000"
                        value="<%= locals.oldData ? oldData.phone : '' %>">
                <% if (locals.errors && errors.phone) { %>
                    <div class="text-danger">
                        <%= errors.phone.msg %>
                    </div>
                <% } %>

                        <!-- Checkbox: Aceptar términos y condiciones -->
                        <label>
                            <input type="checkbox" id="acepto-terminos" name="acepto-terminos" 
                            
                            >
                            Acepto las políticas de privacidad y términos y condiciones
                        </label>
                        <% if (locals.errors && errors['acepto-terminos']) { %>
                            <div class="text-danger">
                                <%= errors['acepto-terminos'].msg %>
                            </div>
                        <% } %>
                        <!-- Botón: Registrarme -->
                        <div id="botones">
                            <button class="button-registro" type="submit">Registrarme</button>
                        </div>
                    </form>
                </section>
            </main>
            <!-- pie de pagina -->
            <%- include('../partials/footer') %>
    </body>

</html>